.cards{
   display: flex;
   flex-wrap: wrap;
	grid-gap: 35px;
	padding-bottom: 64px;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	font-family:'Roboto Condensed', sans-serif;
}

.card{
	border: solid black 1px;
	border-radius: 7px;
	padding: 16px;
	text-align: center;
	width: 250px;
	box-shadow: black 1px 1px 1px;
	justify-self: center;
	background-color: #9383b72e;
	margin: 0 auto;
    flex: 0 1 calc(25% - 1em);
	grid-template-rows: max-content 200px 1fr;
	font-family:'Roboto Condensed', sans-serif;
}


.card img {
	width: 340px;
	height: 240px;
}

@media (min-width: 580px) {
	.cards {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1200px) {
	.cards {
		grid-template-columns: 1fr 1fr 1fr;
	}
}




