.navbar{
	justify-content: space-around;
	align-items: center;
	display: flex;
	position: sticky;
	top: 0;
	background-color: white;
	font-family:'Roboto Condensed', sans-serif;
}

.nav-menu{
	list-style: none;
}


.nav-items{
	display: inline;
	margin: 8px;
	font-size: 20px;
}
